p {
  margin: 0;
  padding: 0;
}

input[type="text"] {
  min-width: 200px;
  width: 20vw;
  cursor: pointer;
}

button {
  background-color: beige;
  border-radius: 10px;
  border: 3px solid black;
  padding: 10px 10px;
  font-weight: 600;
  transition: 0.3s;
  color: black;
  cursor: pointer;
  max-width: 200px;
}

button:hover {
  background-color: rgb(245, 245, 188);
  border-radius: 30px;
}

.page {
  background-color: rgb(225, 243, 237);
  width: 100%;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectFile {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  letter-spacing: 1px;
}

.selectFile input[type="file"] {
  position: absolute;
  opacity: 0;
}

/*Form Style*/
.searchForm {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.searchForm_wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 4px;
}

.searchForm__label {
  display: inline-block;
}

.searchForm input[type="text"] {
  border-radius: 6px;
}

.searchForm__button {
  align-self: center;
}

.unvalid {
  border: 3px solid red;
}

/*Form Help container style*/
.searchForm__help {
  position: relative;
}

.searchForm__help_toggle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgb(120, 120, 120);
  background-color: aqua;
  color: red;
  font-size: 20px;
  text-align: center;
  cursor: help;
  vertical-align: bottom;
  font-style: italic;
}

.searchForm__help_information {
  display: none;
}
.importantInf {
  color: rgb(207, 55, 55);
}

.activeInformation {
  display: block;
  position: absolute;
  background-color: rgb(213, 255, 255);
  border: 2px solid black;
  padding: 10px;
  width: 160px;
  top: 0;
  left: 120%;
}

/*Table Style*/
.outputTable {
  border-collapse: separate;
  border-spacing: 0 6px;
  margin-top: 40px;
}

.outputTable th {
  color: rgb(10, 121, 121);
  padding: 0 20px;
  font-size: 24px;
}

.outputTable__body tr td {
  transition: 0.5s;
  border: 1px dashed rgb(54, 140, 100);
  text-align: center;
  cursor: copy;
}

.outputTable__body tr > td:first-child {
  text-align: left;
  font-size: 18px;
}

.highlight {
  background-color: aqua;
}

/*Custom Check-box*/
.check-button {
  display: flex;
}
.check-button label {
  font-size: 0.8em;
  color: rgb(119, 149, 149);
}

#myCheckbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 4px;
}

#copyThematicIndex_button, #copyTotalPage_button {
  font-size: 0.8em;
  color: rgb(119, 149, 149);
  width: 100px;
  background-color: beige;
  border-radius: 10px;
  border: 1px solid black;
}



.errorContainer {
  font-size: 18px;
  color: red;
}
